@charset "UTF-8";
/* CSS Document */



@font-face {
    font-family: 'PyeongChang-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChang-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 
 font-family: 'Noto Sans KR', sans-serif;
}


body{ -webkit-font-smoothing: antialiased; text-rendering: optimizeLegibility; font-size: 16px;
  background-color: #fff; font-family: 'Noto Sans KR', sans-serif; color: #909090;
   line-height: 1.6; font-weight: 400; overflow-x: hidden;}
h1,h2,h3,h4,h5,h6{ font-family: 'PyeongChang-Bold', sans-serif; margin: 0; padding: 0; margin-bottom: 10px; 
 color: #2f2f2f; font-weight: 400;}
h1 {font-size: 30px; line-height: 42px;}
h2 {font-size: 24px;}
h3 {font-size: 20px; line-height: 35px;}
h4 {font-size: 16px}
p {margin: 0 0 20px;}
p:last-child{margin-bottom: 0px;}
ul, ol {margin: 0; padding: 0px;}  
ul li, ol li {line-height: 1.9;}
a {color: #8d9393; text-decoration: none; -webkit-transition: all 0.3s; -moz-transition: all 0.3s;
  transition: all 0.3s;}
a:focus, a:hover { text-decoration: none; color: #b1a256;}
strong{ font-weight: 600;}
.listnone{list-style: none;}
.lead{font-size: 27px; line-height: 38px; color: #484d55;}
.italic{font-style: italic;}
.small{font-size: 14px;}
  

/*---------------- title class ------------*/
.title{color: #333333;}
.heading-title{color: #2f2f2f;}
.text-white{color: #fff;}
/*----------------- template button --------------*/
.btn{display: inline-block; padding: 12px 23px; margin-bottom: 0; font-size: 14px; font-weight: 600; border-radius: 0px; 
  line-height: 1.42857143; text-align: center; border:none; text-transform: uppercase; letter-spacing: 1px;}

  /*--------- btn default --------*/
.btn-default {color: #fff; background-color: #b1a256;}
.btn-default:hover {color: #fff; background-color: #c9cf95;} 
.btn-default.focus, .btn-default:focus {color: #fff; background-color: #c9cf95;}

  /*--------- btn primary --------*/

.btn-primary {color: #fff; background-color: #b1a256;}
.btn-primary:hover {color: #fff; background-color: #3d3f42; }
.btn-primary.focus, .btn-primary:focus {color: #f67269; background-color: #fff; }

  /*--------- btn outline --------*/

.btn-outline {}
.btn-outline:hover {}
.btn-outline.focus, .btn-outline:focus {}

.btn-white-outline {color: #fff; background-color: #90d7d6; border: 2px solid #fff;}
.btn-white-outline:hover {color: #fff; background-color: #65b8b7; border: 2px solid #65b8b7;}
.btn-white-outline.focus, .btn-outline:focus {color: #fff; background-color: #65b8b7; border: 2px solid #fff;}

  /*--------- btn link --------*/
.btn-link{color: #2f2f2f; text-decoration: underline; text-transform: uppercase;}
.btn-link:hover{color: #b1a256; text-decoration: underline;}
/*--------- btn size --------*/
.btn-lg {font-size: 14px; padding: 20px 30px; }
.btn-sm  {font-size: 14px; padding: 10px 14px;}
.btn-xs {font-size: 12px;padding: 6px 8px;}

/*--------- selection --------*/
 ::selection {
    background: #ffecb3;
    color: #333;
}
/*-------------- Template Form Inputs ------------*/
.control-label{color: #2f2f2f;}
.form-control{width: 100%; height: 48px; padding: 6px 12px; font-size: 14px; line-height: 1.42857143; color: #333;
  background-color: #fbfbfb; border: 1px solid #e3e3e3; background-image: none;
  border-radius: 0px; -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
  box-shadow: inset 0 0px 0px rgba(0,0,0,.075); margin-bottom: 10px;}
.form-control:focus {border-color: #66afe9; outline: 0; 
   -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6); background-color: #eaeaea;}
.textarea.form-control{background-color: #fff; height: auto;}
.required{color: red}
.input-group-addon {color: #fff; text-align: center; background-color: #b1a256;}
/*-----------------------------------
space css class
-----------------------------------*/

/*----------------
margin space
-----------------*/
.mb0{margin-bottom: 0px;}
.mb10{margin-bottom: 10px;}
.mb20{margin-bottom: 20px;}
.mb30{margin-bottom: 30px;}
.mb40{margin-bottom: 40px;}
.mb60{margin-bottom: 60px;}
.mb80{margin-bottom: 80px;}
.mb100{margin-bottom: 100px;}

.mt0{margin-top: 0px;}
.mt10{margin-top: 10px;}
.mt20{margin-top: 20px;}
.mt30{margin-top: 30px;}
.mt40{margin-top: 40px;}
.mt60{margin-top: 60px;}
.mt80{margin-top: 80px;}
.mt100{margin-top: 100px;}

/*---------------
padding space
-----------------*/
.no-padding{padding-right: 0; padding-left: 0;}
.no-pdl{padding-left: 0;}
.no-pdr{padding-right: 0;}

.pinside10{padding: 10px;}
.pinside20{padding: 20px;}
.pinside30{padding: 30px;}
.pinside40{padding: 40px;}
.pinside50{padding: 50px;}
.pinside60{padding: 60px;}
.pinside80{padding: 80px;}

.pdt10{padding-top: 20px;}
.pdt20{padding-top: 20px;}
.pdt30{padding-top: 30px;}
.pdt40{padding-top: 40px;}
.pdt60{padding-top: 60px;}
.pdt80{padding-top: 80px;}

.pdb10{padding-bottom: 10px;}
.pdb20{padding-bottom: 20px;}
.pdb30{padding-bottom: 30px;}
.pdb40{padding-bottom: 40px;}
.pdb60{padding-bottom: 60px;}
.pdb80{padding-bottom: 80px;}

.pdl10{padding-left: 10px;}
.pdl20{padding-left: 20px;}
.pdl30{padding-left: 30px;}
.pdl40{padding-left: 40px;}
.pdl60{padding-left: 60px;}
.pdl80{padding-left: 80px;}

.pdr10{padding-right: 10px;}
.pdr20{padding-right: 20px;}
.pdr30{padding-right: 30px;}
.pdr40{padding-right: 40px;}
.pdr60{padding-right: 60px;}
.pdr80{padding-right: 80px;}

/*---------------
 Section Space
 
 * Section space help to create top bottom space. 
 *

-----------------*/
.section-space20{padding-top: 20px;padding-bottom: 20px;}
.section-space40{padding-top: 40px;padding-bottom: 40px;}
.section-space60{padding-top: 60px;padding-bottom: 60px;}
.section-space80{padding-top: 80px;padding-bottom: 80px;}
.section-space100{padding-top: 100px;padding-bottom: 100px;}


/*-----------------------------------------
 background & block color 
------------------------------------------*/
.bg-light{background-color: #f5f5f5; }
.bg-primary{}
.bg-default{}
.bg-white{background-color: #fff;}
.outline{}
.section-title{}  
.content{padding-bottom: 100px;padding-top: 100px;}
.primary-sidebar{}
.secondary-sidebar{}

/*-------------- Bullet point -------------*/

.bullet{position: relative;   color: #2e3233; line-height: 32px;}
.bullet-arrow-right li:before {font-family: FontAwesome; display: block;
 position: absolute; left: 0; width: 13px; font-size: 14px; color: #909090;
 content: "\f178"; margin-top: 12px;}
 
/*--------------- Features block class --------------*/

.feature{}
.feature-icon{font-size: 32px; color: #42b574; margin-bottom: 20px;}

/*-------- feature icon left --------*/

.feature-left{}
.feature-left .feature-icon{float: left;}
.feature-left .feature-content{padding-left: 60px;} 

/*-------- feature inner padding --------*/

.feature-inner{padding: 30px;background-color: #eaeaea}
.feature-outline{padding: 30px;border:2px solid #eaeaea;}

/*---------------- Thumbnail Block ------------*/

.thumbnail-block{}
.thumbnail-img{}
.thumbnail-content{}
.thumbnail-inner{padding: 30px;background-color: #eee}
.thumbnail-outline{border:1px solid #e8e8e8;}
.logo{   padding: 10px 0; display: inline-block;}

/*------------------ Navigation ----------------*/

.header{background-color: #1f1f1f; -webkit-transition: background-color .8s ease-out; 
  -moz-transition: background-color .8s ease-out; -o-transition: background-color .8s ease-out;
  transition: background-color .8s ease-out;  padding-bottom: 10px; padding-top: 10px; position: relative; 
  z-index: 9;}
.navigation{ }

#navigation,
#navigation ul,
#navigation ul li,
#navigation ul li a,
#navigation #menu-button {margin: 0; padding: 0; border: 0; list-style: none; line-height: 2.5; display: block;
  position: relative; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
#navigation:after,
#navigation > ul:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
#navigation #menu-button {display: none;}
#navigation {background: transparent;}
#navigation > ul > li {float: left;}
#navigation.align-center > ul {font-size: 0; text-align: center;}
#navigation.align-center > ul > li {display: inline-block; float: none;}
#navigation.align-center ul ul {text-align: left;}
#navigation.align-right > ul > li {float: right;}
#navigation > ul > li > a {padding: 18px 18px; font-size: 14px; text-decoration: none; color: #dddddd; 
   text-transform: uppercase; font-family: 'roboto', sans-serif; font-weight: 600;}
#navigation > ul > li:hover > a {color: #b1a256;}
#navigation > ul > li.has-sub > a {padding-right: 30px;}
/*#navigation > ul > li.has-sub > a:after {position: absolute; top: 22px; right: 11px; width: 8px; height: 2px; 
  display: block; background: #dddddd; content: '';}*/
#navigation > ul > li.has-sub > a:before {position: absolute; right: 14px; font-family: FontAwesome; content: "\f107";
  -webkit-transition: all .25s ease; -moz-transition: all .25s ease; -ms-transition: all .25s ease;
  -o-transition: all .25s ease; transition: all .25s ease;}
/*#navigation > ul > li.has-sub:hover > a:before {top: 23px; height: 0;}*/
#navigation ul ul {position: absolute; left: -9999px;}
#navigation.align-right ul ul {text-align: right; }
#navigation ul ul li {height: 0; -webkit-transition: all .25s ease; -moz-transition: all .25s ease; 
  -ms-transition: all .25s ease; -o-transition: all .25s ease; transition: all .25s ease;}
#navigation li:hover > ul {left: auto;}
#navigation.align-right li:hover > ul {left: auto; right: 0;}
#navigation li:hover > ul > li {height: 40px;}
#navigation ul ul ul {margin-left: 100%; top: 0; }
#navigation.align-right ul ul ul {margin-left: 0; margin-right: 100%; }
#navigation ul ul li a {border-bottom: 1px solid rgba(150, 150, 150, 0.15); padding: 15px 15px; width: 200px;
  font-size: 13px; text-decoration: none; color: #333; font-weight: 400; background: #fff; }
#navigation ul ul li:last-child > a,
#navigation ul ul li.last-item > a {border-bottom: 0;}
#navigation ul ul li:hover > a,
#navigation ul ul li a:hover {color: #b1a256;}
#navigation ul ul li.has-sub > a:after {position: absolute; top: 16px; right: 11px; width: 8px; height: 2px;
  display: block; background: #dddddd; content: '';}
#navigation.align-right ul ul li.has-sub > a:after {right: auto; left: 11px;}
#navigation ul ul li.has-sub > a:before {position: absolute; top: 13px; right: 14px; display: block; width: 2px;
  height: 8px; background: #dddddd; content: ''; -webkit-transition: all .25s ease; -moz-transition: all .25s ease;
  -ms-transition: all .25s ease; -o-transition: all .25s ease; transition: all .25s ease;}
#navigation.align-right ul ul li.has-sub > a:before {right: auto; left: 14px;}
#navigation ul ul > li.has-sub:hover > a:before {top: 17px; height: 0;}
#navigation.small-screen {width: 100%;}
#navigation.small-screen ul {width: 100%; display: none;}
#navigation.small-screen.align-center > ul {text-align: left;}
#navigation.small-screen ul li {width: 100%; border-top: 1px solid rgba(120, 120, 120, 0.2);}
#navigation.small-screen ul ul li,
#navigation.small-screen li:hover > ul > li {height: auto;}
#navigation.small-screen ul li a,
#navigation.small-screen ul ul li a {width: 100%; border-bottom: 0;}
#navigation.small-screen > ul > li {float: none;}
#navigation.small-screen ul ul li a {padding-left: 25px;}
#navigation.small-screen ul ul ul li a {padding-left: 35px;}
#navigation.small-screen ul ul li a {color: #888; background: none;}
#navigation.small-screen ul ul li:hover > a,
#navigation.small-screen ul ul li.active > a {color: #333;}
#navigation.small-screen ul ul,
#navigation.small-screen ul ul ul,
#navigation.small-screen.align-right ul ul {position: relative; left: 0; width: 100%; margin: 0; text-align: left;}
#navigation.small-screen > ul > li.has-sub > a:after,
#navigation.small-screen > ul > li.has-sub > a:before,
#navigation.small-screen ul ul > li.has-sub > a:after,
#navigation.small-screen ul ul > li.has-sub > a:before { display: none;}
#navigation.small-screen #menu-button {display: block; padding: 17px; color: #ddd; cursor: pointer; font-size: 12px;
  text-transform: uppercase; font-weight: 700;}
#navigation.small-screen #menu-button:after {position: absolute; top: 22px; right: 17px; display: block; height: 8px;
  width: 20px; border-top: 2px solid #ddd; border-bottom: 2px solid #ddd; content: '';}
#navigation.small-screen #menu-button:before {position: absolute; top: 16px; right: 17px; display: block; height: 2px;
  width: 20px; background: #ddd; content: '';}
#navigation.small-screen #menu-button.menu-opened:after {top: 23px; border: 0; height: 2px; width: 15px; 
  background: #333; -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg); transform: rotate(45deg);}
#navigation.small-screen #menu-button.menu-opened:before {top: 23px; background: #333; width: 15px; 
  -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg); transform: rotate(-45deg);}
#navigation.small-screen .submenu-button {position: absolute; z-index: 99; right: 0; top: 0; display: block;
  border-left: 1px solid rgba(120, 120, 120, 0.2); height: 50px; width: 50px; cursor: pointer;}
#navigation.small-screen .submenu-button.submenu-opened {background: #ddd;}
#navigation.small-screen ul ul .submenu-button {height: 34px; width: 34px; }
#navigation.small-screen .submenu-button:after {position: absolute; top: 22px; right: 19px; width: 8px; height: 2px;
  display: block; background: #333; content: '';}
#navigation.small-screen ul ul .submenu-button:after {top: 15px; right: 13px;}
#navigation.small-screen .submenu-button.submenu-opened:after {background: #333; }
#navigation.small-screen .submenu-button:before {position: absolute; top: 19px; right: 22px; display: block;
  width: 2px; height: 8px; background: #333; content: '';}
#navigation.small-screen ul ul .submenu-button:before {top: 12px; right: 16px;}
#navigation.small-screen .submenu-button.submenu-opened:before {display: none;}
#navigation.small-screen.select-list { padding: 5px;}
/*-------------- page header ------------*/
.page-header{background: linear-gradient(rgba(17, 22, 26, 0.6),
  rgba(17, 22, 26, 0.6)), rgba(17, 22, 26, 0.6) url(../images/page-header2.png) no-repeat center;
background-size: cover; margin: 0;}
.page-caption{padding: 105px 0;}
.page-title{color: #fff;}
.page-containt{font-size: 14px; color: #fff;}
/*-------------- breadcrumb ------------*/
.breadcrumb{padding: 20px 0px; margin-bottom: 0px; list-style: none;
  background-color: transparent; border-radius: 0px; color: #e9e8e8;
  border-bottom: 1px solid #e9e8e8}
.breadcrumb>.active {color: #b1a256;}









/*--------------scroll----------------*/
.scrolldown {
  --color: white;
  --sizeX: 30px;
  --sizeY: 50px;
  position: absolute;
  z-index: 6;
    top: 85%;
    left: 50%;
    transform: translate(-50%,-50%);
  width: var(--sizeX);
  height: var(--sizeY);
  margin-left: var(sizeX / 2);
  border: calc(var(--sizeX) / 10) solid var(--color);
  border-radius: 50px;
  box-sizing: border-box;
  margin-bottom: 16px;
}

.scrolldown::before {
  content: "";
  position: absolute;
  bottom: 30px;
  left: 50%;
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: var(--color);
  border-radius: 100%;
  animation: scrolldown-anim 2s infinite;
  box-sizing: border-box;
  box-shadow: 0px -5px 3px 1px #ffffff66;
}

@keyframes scrolldown-anim {
  0% {
    opacity: 0;
    height: 6px;
  }
  40% {
    opacity: 1;
    height: 10px;
  }
  80% {
    transform: translate(0, 20px);
    height: 10px;
    opacity: 0;
  }
  100% {
    height: 3px;
    opacity: 0;
  }
}
.chevrons {
  padding: 6px 0 0 0;
  margin-left: -3px;
  margin-top: 48px;
  width: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.chevrondown {
  margin-top: -6px;
  position: relative;
  border: solid var(--color);
  border-width: 0 3px 3px 0;
  display: inline-block;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
}
.chevrondown:nth-child(odd) {
  animation: pulse 500ms ease infinite alternate;
}
.chevrondown:nth-child(even) {
  animation: pulse 500ms ease infinite alternate 250ms;
}
@keyframes pulse {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}





/*-------------- slider ------------*/
/*.intro-section{background:linear-gradient(rgba(17, 22, 26, 0.7), rgba(17, 22, 26, 0.7), rgba(17, 22, 26, 0.7)) }*/




.fade-carousel {
    position: relative;
    height: 76vh;
}
.fade-carousel .carousel-inner .item {
    height: 76vh;
}
.fade-carousel .carousel-indicators > li {
    margin: 0 2px;
    border: 2px solid #fff;
}
.fade-carousel .carousel-indicators > li.active {
  width: 12px;
  height: 12px;
}

/********************************/
/*          Hero Headers        */
/********************************/
.hero {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
      -webkit-transform: translate3d(-50%,-50%,0);
         -moz-transform: translate3d(-50%,-50%,0);
          -ms-transform: translate3d(-50%,-50%,0);
           -o-transform: translate3d(-50%,-50%,0);
              transform: translate3d(-50%,-50%,0);
}
.hero h1 {
    font-size: 2.8em;  
    margin: 2% 0;
    color: #fff;
}

.hero p {
    font-size: 1.2em;
}


.fade-carousel .carousel-inner .item .hero {
    opacity: 0;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s; 
}
.fade-carousel .carousel-inner .item.active .hero {
    opacity: 1;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s;    
}




/********************************/
/*          Custom Buttons      */
/********************************/
.btn.btn-lg {padding: 10px 40px;}
.btn.btn-hero,
.btn.btn-hero:hover,
.btn.btn-hero:focus {
    color: #f5f5f5;
    background-color: #b1a256;
    border-color: #b1a256;
    outline: none;
    margin: 20px auto;
}
.btn.btn-hero:hover {
    background-color: #c9cf95;
    border-color: #c9cf95;
}

/********************************/
/*       Slides backgrounds     */
/********************************/
.fade-carousel .slides .slide-1, 
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3{
  height: 76vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.fade-carousel .slides .slide-1 {
  background: linear-gradient(rgba(17, 22, 26, 0.4),
  rgba(17, 22, 26, 0.4)), rgba(17, 22, 26, 0.4) url(../images/S-1.png) no-repeat center; 
}
.fade-carousel .slides .slide-2 {
  background: linear-gradient(rgba(17, 22, 26, 0.4),
  rgba(17, 22, 26, 0.4)), rgba(17, 22, 26, 0.4) url(../images/S-2.png) no-repeat center;
}
.fade-carousel .slides .slide-3 {
  background: linear-gradient(rgba(17, 22, 26, 0.4),
  rgba(17, 22, 26, 0.4)), rgba(17, 22, 26, 0.4) url(../images/S-3.png) no-repeat center;
}

/********************************/
/*          Media Queries       */
/********************************/
@media screen and (min-width: 980px){
    .hero { width: 980px; }    
}
@media screen and (max-width: 640px){
    .hero h1 { font-size: 2.3em; line-height: 110%; text-align: center; color: #fff !important;}
    .hero p {text-align: center; color: #fff !important;}
    
    .fade-carousel .slides .slide-1, 
    .fade-carousel .slides .slide-2,
    .fade-carousel .slides .slide-3{
      height: 76vh;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
    .fade-carousel .slides .slide-1 {
      background: linear-gradient(rgba(17, 22, 26, 0.6),
  rgba(17, 22, 26, 0.6)), rgba(17, 22, 26, 0.6) url(../images/sm_slide5.png)no-repeat center;
    }
    .fade-carousel .slides .slide-2 {
      background: linear-gradient(rgba(17, 22, 26, 0.6),
  rgba(17, 22, 26, 0.6)), rgba(17, 22, 26, 0.6) url(../images/sm_slide6.png)no-repeat center;
    }
    .fade-carousel .slides .slide-3 {
      background: linear-gradient(rgba(17, 22, 26, 0.6),
  rgba(17, 22, 26, 0.6)), rgba(17, 22, 26, 0.6) url(../images/sm_slide7.png)no-repeat center;
    }
}




/*-----------contants------------*/
.post-c h3 {
    background-color: #b1a256;
    width: 230px;
    text-align: center;
    color: #fff;
    margin: 2% 0;
}

.post-c ul {
    list-style: none;
    margin-bottom: 2%;
}

.post-c h4 {
    font-family: 'Noto Sans KR';
    font-weight: 500;
}



/*-------------------parallax-------------------*/
/* Typography */
/**************************/
#parallax-world-of-ugg h2 {font-size:40px; letter-spacing:5px; text-align:left; color:white; text-transform:uppercase; z-index:10; opacity:.9;}

#parallax-world-of-ugg li {list-style: none; text-align:center; color:white; text-transform:uppercase; z-index:10; opacity:.9;}

#parallax-world-of-ugg li strong {
    letter-spacing: 5px;
}

/* Section - Parallax */
/**************************/

#parallax-world-of-ugg .parallax {
    padding-top: 90px;
    padding-bottom: 90px;
    overflow: hidden;
    position: relative;
    max-width: 100%;
    background: linear-gradient(rgba(17, 22, 26, 0.6),
            rgba(17, 22, 26, 0.6)), rgba(17, 22, 26, 0.6)url(../images/sean-pollock-PhYq704ffdA-unsplash.jpg);
    background-attachment: fixed;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#parallax-world-of-ugg .parallax .pa-item {
    margin: 0 auto;
    max-width: 1140px;
}

.pa-item h2 {
    float: left;
}

.pa-item .sub-pa {
    width: 640px;
    float: right;
}

.pa-item .sub-pa li {
    float: left;
    width: 33%;
    height: 160px;
    border-right: 1px solid #ccc;
    padding: 10px;
}

.pa-item .sub-pa li:last-child {
    border-right: none;
}


/* Media Queries */
/**************************/

@media screen and (max-width: 600px) {
    #parallax-world-of-ugg h2 {
        text-align: center;
        font-size: 40px;
        float: none;
    }
    
    #parallax-world-of-ugg .parallax {
        padding: 60px 50px;
    }
    
    #parallax-world-of-ugg .pa-item .sub-pa {
        float: none;
        position: relative;
        margin: inherit;
        width: inherit;
    }
    
    #parallax-world-of-ugg .pa-item .sub-pa li {
        float: none;
        border-right: none;
        border-bottom: 1px solid #ccc;
        margin: inherit;
        height: auto;
        padding: 25px 0;
    }
    
    #parallax-world-of-ugg .pa-item .sub-pa li:last-child {
        border-bottom: none;
    }
}

/*----------------더보기-------------------*/
.m-post-holder {
    position: relative;
    height: 200px;
}

.m-post-holder .post-header {
    position: inherit;
}

.m-post-holder .post-title>a {
    position: absolute;
    top: 10%;
    left: 10%;
    color: #fff;
}

/*--------------더보기 버튼--------------*/
.btn-more.ty1 {
  width: 45px;
  height: 45px;
  border: none;
  position: absolute;
  right: 0;
  bottom: 0;
  display: inline-block;
  text-indent: -9999px;
  overflow: hidden;
  text-align: left;
  background-color: #fff;
}

.btn-more.ty1:before,
.btn-more.ty1:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #b1a256;
  z-index: 0;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out
}

.btn-more.ty1:before {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%)
}

.btn-more.ty1:after {
  -webkit-transform: translateY(100%);
  transform: translateY(100%)
}

.btn-more.ty1:hover:before {
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%)
}

.btn-more.ty1:hover:after {
  -webkit-transform: translateY(50%);
  transform: translateY(50%)
}

.btn-more.ty1 > span {
  display: block;
  position: relative;
  -webkit-transition: all 0.20s linear;
  -moz-transition: all 0.20s linear;
  -ms-transition: all 0.20s linear;
  -o-transition: all 0.20s linear;
  transition: all 0.20s linear;
  will-change: transform;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 1
}

.btn-more.ty1:hover > span {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg)
}

.btn-more.ty1 > span:after {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 2px;
  height: 15px;
  background-color: #b1a256;
  content: ""
}

.btn-more.ty1 > span:before {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 15px;
  height: 2px;
  background-color: #b1a256;
  content: ""
}

.btn-more.ty1:hover > span:after {
  background-color: #fff
}

.btn-more.ty1:hover > span:before {
  background-color: #fff
}



/*--------------family-logo--------------*/
.single-logo{
  width:182px;
}
..brand-carousel {
	background: transparent;
}

  @media only screen and (max-width: 600px) {
  .single-logo{
  	margin-left: 10px !important;
	}

}


/*-----------tab-----------*/
.tab-contents:not(:target) {
    display: none;
}

.tab-contents:target {
    display: block;
}


@media (max-width:600px) {
    .widget {
        display: none;
    }
}



/*
.b_tab ul li.activeClass{font-weight: bold; font-size: 20px;}
.b_tab ul li.activeClass{font-weight: bold; font-size: 20px;}
.sm_select {display: none;}
.sm_select select {width:100%; height: 40px; }


@media (max-width:500px){
      .sm_select {display: block;}
      .b_tab{display: none;}
 }
*/



/*-------------- sns ---------------*/


#chat-channel-button img {
    position: fixed;
    right: 3.5%;
    bottom: 3.2%;
    width: 55px;
    height: 55px;
    z-index: 99;
}

.insta img {
   position: fixed;
    right: 7%;
    bottom: 3.2%;
    width: 55px;
    height: 55px;
    z-index: 99; 
}



@media (max-width: 900px) {
    #chat-channel-button img {
        right: 12%;
        bottom: 3.5%;
    }
    
    .insta img {
        right: 12%;
        bottom: 11%;
    }
}

/*-------------인사말 icon--------------*/
.icon-text .icon-sub img {
    width: 75px;
    height: 75px;
    margin-bottom: 20px;
}





/*-------------- cta ------------*/
.cta{}
.cta-text{}





#contact{
    padding:10px 0 10px;
  }

  .contact-text{
    margin:45px auto;
  }

  .mail-message-area{
    width:100%;
    padding:0 15px;
  }

  .mail-message{
    width: 100%;
    background:rgba(255,255,255, 0.8) !important;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    transition: all 0.7s;
    margin:0 auto;
    border-radius: 0;
  }

  .not-visible-message{
    height:0px;
    opacity: 0;
  }

  .visible-message{
    height:auto;
    opacity: 1;
    margin:25px auto 0;
  }

/* Input Styles */

  .form{
    width: 100%;
    padding: 15px;
    background:#f8f8f8;
    border:1px solid rgba(0, 0, 0, 0.075);
    margin-bottom:25px;
    color:#727272 !important;
    font-size:13px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }

  .form:hover{
    border:1px solid #b1a256;
  }

  .form:focus{
    color: white;
    outline: none;
    border:1px solid #b1a256;
  }

  .textarea{
    height: 200px;
    max-height: 200px;
    max-width: 100%;
  }
  

.form-check {
    text-align: center;
    margin: 15px;
}


/* Generic Button Styles */

  .button{
    padding:8px 12px;
    background:#0A5175;
    display: block;
    width:120px;
    margin:10px 0 0px 0;
    border-radius:3px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    text-align:center;
    font-size:0.8em;
    box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -moz-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -webkit-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
  }

  .button:hover{
    background:#b1a256;
    color:white;
  }

/* Send Button Styles */

  .form-btn{
    width:180px;
    display: block;
    height: auto;
    padding:15px;
    color:#fff;
    background:#b1a256;
    border:none;
    border-radius:3px;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin:auto;
    box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -moz-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -webkit-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
  }

  .form-btn:hover{
    background:#c9cf95;
    color: white;
    border:none;
  }

  .form-btn:active{
    opacity: 0.9;
  }
center{
  margin-top:330px;
}
input {
    position: relative;
}


/*-------------- footer ------------*/
.footer{background-color: #2b2a2a;}
.footer{}
.footer-title{margin-bottom: 25px; color: #fff; }
.footer-widget{color: #808080;}
.contact{padding-left: 0px;}
.footer-widget .contact ul{}
.footer-widget .contact li {position: relative; padding-left: 30px; margin-bottom: 20px;}
.footer-widget .contact li i {display: block; position: absolute; top: 3px; left: 0; width: 30px; font-size: 18px;
 text-align: center; color: #b1a256; }
.footer-widget p{color: #808080;}
.footer-call{margin-bottom: 5px;}
.footer-email{}
.footer-link{color: #808080; font-size: 14px;}
.footer-widget i{font-size: 16px; color: #b1a256; padding-right: 10px;}
/*-------------- tiny footer ------------*/
.tiny-footer{background-color: #2b2a2a; padding-top: 14px; padding-bottom: 14px;
  font-size: 14px; color: #808080; }
/*-------------- align ------------*/


/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {margin: 5px 20px 20px 0;}
.aligncenter, div.aligncenter {display: block; margin: 5px auto 5px auto;}
.alignright {float:right; margin: 0px 0 20px 20px;}
.alignleft {float: left; margin: 0px 20px 20px 0;}
a img.alignright {float: right; margin: 5px 0 20px 20px;}
a img.alignnone {margin: 5px 20px 20px 0;}
a img.alignleft {float: left; margin: 5px 20px 20px 0;}
a img.aligncenter {display: block; margin-left: auto; margin-right: auto;}
.wp-caption {background: #fff; border: 1px solid #f0f0f0;  max-width: 96%;
 /* Image does not overflow the content area */ padding: 5px 3px 10px; text-align: center;}
.wp-caption.alignnone {margin: 5px 20px 20px 0;}
.wp-caption.alignleft {margin: 5px 20px 20px 0;}
.wp-caption.alignright {margin: 5px 0 20px 20px;}
.wp-caption img {border: 0 none; height: auto; margin: 0; max-width: 98.5%; padding: 0; width: auto;}
.wp-caption p.wp-caption-text {font-size: 11px; line-height: 17px; margin: 0; padding: 0 4px 5px;}
.contant{}
.sidebar{margin-bottom: 50px;}
/*-------------- blog css  ------------*/
/*-----blog post listing-----*/

.post-block{}
.post-holder{}
.post-header{position: relative;}
.post-title{}
.post-img{}
.post-sticky {background: url(../images/sticky-sign.png) no-repeat;
  width: 20px; height: 39px; position: absolute; right: 0; top: 0;}
.post-meta{font-size: 12px;line-height: 1.4; text-transform: uppercase;
  font-weight: 600; color: #bababa;}
  .meta-date{color: #b1a256;}
  .meta-author{}
  .meta-comment{}
  .meta-cat{color: #b1a256;}
  .meta-date, .meta-author, .meta-comment, .meta-cat{display: inline-block;}
.meta-link{color: #909090;}
.meta-tags{}
.post-content{}
.post-meta span {margin-right: 0px;}
.post-meta span:after {margin-left: 5px; margin-right: 15px; color: #b0b0b0; content: ".";}
.post-meta span:last-child:after {margin-left: 0px; margin-right: 0px; content: "";}
blockquote{font-size: 26px; padding-left: 0px; font-style: italic;
  color: #909090; border: 4px solid #eeeeee; padding: 75px;}
blockquote p{}
.name{color: #333; font-size: 18px;}
.related-post{}
/*----- prev-next-----*/

.post-navigation{ border-bottom: 1px solid #f0f6f6; padding-bottom: 40px; margin-bottom: 39px;}
.nav-links{}
.nav-previous{}
.prev-link {margin-bottom: 10px; display: block;}
.nav-next{}
.next-link{margin-bottom: 10px; display: block;} 

/*-------------- sidebar csss ------------*/
      /*----- widget -----*/
.widget{padding: 30px; background-color: #f5f5f5; margin-bottom: 50px;}
.widget ul li a{padding-top: 19px; padding-bottom: 19px;
    display: block; border-bottom: 1px solid #e6e3da; 
    line-height: 14px; color: #2e3233; font-size: 14px;}
 .widget li a:hover {color: #b1a256; border-bottom: 1px solid #b1a256;}
.widget li.active a {color: #b1a256;}
.widget-title{}
.widget-category{}
.widget-category ul{}
.widget-category ul li{}
.widget-category ul li a{  padding-left: 25px;}
.post-list{margin-bottom: 30px;}
.widget-link{}
.widget-link:hover{text-decoration: underline;}
.post-image{}
.post-containt{}
.widget-recent-post{}
.widget-recent-post ul{padding-left: 0px;}
.widget-recent-post ul li{}
.widget-recent-post ul li a{}
.recent-block {}
.recent-title {font-size: 16px; line-height: 24px;}
.related-title{font-size: 14px; line-height: 20px}
.widget-tags {}
.widget-tags a { text-transform: uppercase; padding: 7px 18px;
display: inline-block; margin-bottom: 5px; font-weight: 700; font-size: 12px;
line-height: 12px; color: #727272; background-color: #e6e6e6;}
.widget-tags a:hover { background-color: #b1a256; color: #fff;}
.widget-text{}
/*----- Author Post -----*/

.author-post{ border-bottom: 1px solid #f0f6f6; padding-bottom: 40px; margin-bottom: 39px;}
.author-img{}
.author-img img{width: 150px; margin: 0 auto;}
.author-bio{}
.author-meta{}
.author-name{}
.author-header{}
.author-content{}
.author-social{}
.author-link{}

/*----- Comment Post -----*/

.comments-area{}
.comments-title{}
.comment-list{}
  .comment{}
  .comment-body{margin-top: 20px;}
  .comment-author{}
  .comment-author img{float: left;}
  .comment-info{padding-left: 150px;}
  .comment-header{}
  .user-title{}
  .comment-meta{}
  .comment-meta-date{text-transform: uppercase; color: #bbc2c3; font-size: 13px;}
  .comment-content{}
.reply{}
.childern{padding-left: 100px;}

/*----- Leave Reply -----*/

.leave-comments{}
/********** Extra Plugin CSS - Back to top **********/

.cd-top {display: inline-block; height: 40px; width: 40px; position: fixed; bottom: 40px; right: 10px;
  overflow: hidden; text-indent: 100%; white-space: nowrap; background: rgba(177, 162, 86, 1) 
  url(../images/cd-top-arrow.svg) no-repeat center 50%; visibility: hidden; opacity: 0; 
  -webkit-transition: opacity .3s 0s, visibility 0s .3s; -moz-transition: opacity .3s 0s, visibility 0s .3s;
 transition: opacity .3s 0s, visibility 0s .3s;}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
 -webkit-transition: opacity .3s 0s, visibility 0s 0s; -moz-transition: opacity .3s 0s, visibility 0s 0s;
 transition: opacity .3s 0s, visibility 0s 0s;}
.cd-top.cd-is-visible { /* the button becomes visible */ visibility: visible; opacity: 1;}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;}
.no-touch .cd-top:hover {background-color: #c9cf95; opacity: 1;}




/* service section */
.service-block {position: relative;}
.service-img {background:linear-gradient(rgba(235, 246, 245, 0.9), rgba(235, 246, 245, 0.9)), 
  rgba(235, 246, 245, 0.9)  }
.service-caption {background-color: #90d7d6; padding-left: 10px; position: absolute; width: 100%; bottom: 0px;
 padding: 12px;}
.service-title{font-size: 18px; color: #fff; margin-bottom: 0px;}

/* testimonial section */
.testimonial-icon{font-size: 32px; color: #90d7d6;}
.testimonial-content{}
.testimonial-img{float: left; padding-right: 25px; padding-bottom: 25px;}
.testimonial-text{font-family: 'Merriweather', serif;}
.testimonial-meta{text-transform: uppercase; color: #90d7d6; font-size: 12px; font-weight: 400;}

/*-------------Pagination-------------*/

.st-pagination { }
.st-pagination .pagination>li>a, .pagination>li>span {position: relative; float: left; margin-left: -1px; 
  line-height: 1.42857143; color: #fff; text-decoration: none; font-size:12px; border: 2px solid transparent;
  background-color: #c0c0c0; font-weight: 700; border-radius: 0px; text-transform:uppercase; margin-right: 5px; margin-bottom: 5px;}
.st-pagination .pagination>li>a:focus, .st-pagination .pagination>li>a:hover, 
.st-pagination .pagination>li>span:focus, .st-pagination .pagination>li>span:hover {z-index: 2; color: #fff; 
  background-color: #b1a256; border-color: transparent; border-radius: 0px;}
.st-pagination .pagination>li:first-child>a, .st-pagination .pagination>li:first-child>span {margin-left: 0; 
  border-radius: 0px;}
.st-pagination .pagination>li:last-child>a, .st-pagination .pagination>li:last-child>span {border-radius:  0px;}
.st-pagination .pagination>.active>a, .st-pagination .pagination>.active>a:focus, 
.st-pagination .pagination>.active>a:hover, .st-pagination .pagination>.active>span, 
.st-pagination .pagination>.active>span:focus, .st-pagination .pagination>.active>span:hover {z-index: 3; color: #fff;
 cursor: default; background-color: #b1a256;  border-radius: 0px; }

 /*-------------Contact Us-------------*/

.contact-info{}
.contact-info-title{font-size: 18px; color: #333;}
.contact-info ul{padding-left: 0px;}
.contact-info li {position: relative; padding-left: 30px; margin-bottom: 30px;}
.contact-info li i {display: block; position: absolute; top: 3px; left: 0; width: 30px; font-size: 18px; text-align: center;
color: #90d7d6; }  
.map {height: 400px;}



/*-------------- other css ------------*/
hr{border-bottom: #333; margin-bottom: 30px; margin-top: 30px;}



/*-------------- mobile media css ------------*/
@media screen and (max-width: 320px) {

  /*----- intro section -----*/
  .intro-caption {padding-top: 80px; padding-bottom: 80px;}
  .intro-title {font-size: 32px;}
  .navbar-brand {float: none;}
  /*----- cta -----*/
  .cta-text{margin-bottom: 30px; text-align: center;}
  /*----- footer -----*/
  .footer-widget {margin-bottom: 30px;}
  .childern {padding-left: 0px;}
}
/* Custom sizes (768px to 1024px) */

@media screen and (max-width: 768px) { 
.navbar-brand {float: none;}
.childern {padding-left: 0px;}
#navigation.small-screen .submenu-button {height: 50px; width: 46px;}
.widget-tags a {padding: 7px 7px; font-size: 10px; line-height: 8px;}
}

